html,
body {
	padding: 0;
	margin: 0;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/bg.86d62111.png);

	font-family: "Comic Sans MS";
	font-size: 27px;
	background-size: cover;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark ) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

@media (max-width: 480px) {

}


